!!! 5
html
  head
    title dev-mode
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,900')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.index.posts
    header
      h1
        a(href='/') dev-mode
      span blog
      ul
        li
          a(href='https://twitter.com/#!/enverbahar', target='_blank') twitter
        li
          a(href='https://twitter.com/#!/enverbahar', target='_blank') about
        li
          a(href='https://twitter.com/#!/enverbahar', target='_blank') resume
      span.powered-by Powered by 
        a(href='https://github.com/anvarik/obtvse-node', target='_blank') obtvse-node
        &nbsp;·| &nbsp;·
        a(href='/admin') Admin
    body!= body
    script(src='/javascripts/script.js')
